#root > div {
    display: flex;
    justify-content: center;
}

#root .container {
    background-color: #d3ffff;
    width: 800px;
}

.container .header {
    background-color: darkcyan;
    padding: 0px 9px;
    display: flex;
    align-items: baseline;
}

.container .header .title {
    flex: 0 0 150px;
    color: #FFF;
    font-size: 1.1em;
    font-weight: 600;
}

.container .header input {
    flex: 0 1 150px;
}

.container .header div {
    flex: 1 1 auto;
}

.container .header div a {    
    text-decoration: none;
    color: #d3ffff;
}

 .header a:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.container .news-link {
    padding: 10px 6px;
}

.container .news-link .news-title a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.container .news-link .news-title a:after {
    content: "\A";
}

.container .news-link .news-title span {
    color: #777;
}

.container .news-link .news-title span a {
    text-decoration: none;
    color: #777;     
}

.container .news-link .news-info {
    color: #777;
}

#root .article-form {
    width: 300px;
    padding: 20px 50px;
}

.article-form .form-group {
    padding: 10px 0;
}